# Visual Studio Code directory
.vscode/

# Visual Studio Code workspace file
*.code-workspace

# Intellij workspace file
.idea/

# ignore settings.json for VSCode
# .\devops-bootcamp-exercises\.vscode\settings.json